{% extends 'PLCert/layout.html' %}
{% load staticfiles %}

{% block content %}


<h1 style="font-family:calibri;"><strong>Access to legal information for everyone</strong></h1><br>
<div class ="home_container">

        <h3 style="font-family:calibri;"><strong>Our Mission</strong></h3><br>
        <p style="text-align:left;font-family:calibri;">Increase access to legal services for everyone, everywhere through increased access to legal informaion <br>
        Through teaching and learning in person and online.</p><br>
        
        
        <h3 style="font-family:calibri;"><strong>Our Story</strong></h3><br>
        <p style="text-align:left;font-family:calibri;">Founded by Alums of John Marshall Law School and Loyola University School of Law and Social Work.<br>
        Chicago Advocate Legal, NFP became one of the few non profit law firms in the state and in the country.</p><br>
        
        <h3 style="font-family:calibri;"><strong>Your Involvement</strong></h3><br>
        <p style="text-align:left;font-family:calibri;">Chicago community organizations can register to host a clinic, high school and colleges students can apply to be facilitators and individuals can use the e-learning modules.</p>  
</div>

        
{% endblock %}