{% extends 'PLCert/layout.html' %}
{% load staticfiles %}

{% block content %}
<div class="container">

        <header>
           <h1>The Preventative Law Initiative</h1>
           <p>Chicago Advocate Legal, NFP(CAL) statarted the Preventative Law
               Initiaitve to address some of the practical issues that results in 
               so many people representing themselves in court. 
           </p>
        </header>
          
        <article>
          <h1>London</h1>
          <p>London is the capital city of England. It is the most populous city in the  United Kingdom, with a metropolitan area of over 13 million inhabitants.</p>
          <p>Standing on the River Thames, London has been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>
        </article>

        
        </div>
        
{% endblock %}