{% extends 'PLCert/layout.html' %}
{% load staticfiles %}

{% block content %}


<h1 style="font-family:calibri;color:#ffaa00;"><strong>Putting access to justice back in your hands</strong></h1><br>
<div class ="home_container">

        <h3 style="font-family:calibri;"><strong>Our Mission</strong></h3><br>
        <p style="text-align:left;font-family:calibri;">Chicago Advocate Legal, NFP seeks to increase access to legal services for everyone, everywhere through increased access to competent, 
          affordable legal informaion. Chicago Advocate Legal, NFP combines technology with community outreach and education to provide Preventative Law to the Chicago Community.</p><br>
        
        
        <h3 style="font-family:calibri;"><strong>Our Story</strong></h3><br>
        <p style="text-align:left;font-family:calibri;">Chicago Advocate Legal, NFP was founded by Chlece Neal and Brian Gilbert.
        Chlece Neal is an alumn of Loyola University Chicago School of Law, the Graduate School of Social Work and Loyola University Chicago Graduate School. Brian Gilber is an alumn
        of John Marshall Law School. Chlece Neal and Brian Gilbert are also alumn of the Justice Entrepenuers Project (JEP) and met as participants of the JEP in 2014. 
        Chlece and Brian ran solo law practices and then decided to create Chiccago Advocate Legal, NFP a non profit law firm that seeks to provide legal services to low and moderate income
        individuals, communities and families. Chlece and Brian beleive that attorneys can not provide legal services to all the people seeking legal help, but that doesn't mean that people should
        go without legal help. The best way to meet the need is to empower and prepare people to help themselves or reduce or prevent the need for legal assistance at all. 
      </p><br>
        
        <h3 style="font-family:calibri;"><strong>Your Involvement</strong></h3><br>
        <p style="text-align:left;font-family:calibri;">There are many ways for an individual(s) or communities can get invovled with CAL's Preventative Law Initiative: 
        Chicago community organizations, highschools, colleges and churches can register <a href="/PLCert/events" class="w3-bar-item w3-link "> here</a> to host a clinic.
        High school and colleges students can apply <a href="/PLCert/courses" class="w3-bar-item w3-link ">here</a> to be facilitators, and
        individuals can use the e-learning modules to get legal information <a href="/PLCert/register" class="w3-bar-item w3-link ">here</a>.</p> 
        
        <!-- Staff section -->

</div>

        
{% endblock %}