{% extends 'PLCert/layout.html' %}
{% load staticfiles %}

{% block content %}


<h1 class="center-align">Legal Information E-Learning Modules</h1><br>


<div class = "courses2_container">
        <p class="courses">
            The PLC Module is for individuals teaching with the Preventative Law Initiative and for individuals
        who would like to learn Preventative Law for themselves.
        This PLC Module was created by Chlece Neal the Executive Director and Senior Staff
        Attorney at Chicago Advocate Legal, NFP. If you are taking this course to get certified to teach in Chicago Advocate
        Legal NFP's Preventative Law Clinic please select Facilitator Learning Module. 
        If you are taking this course for your self. Please select Public Legal Information Module
        </p>

</div>
<a class="button1 button1" onclick="document.getElementById('id01').style.display='block'">Facilitator Learning Module</a>

      <div id="id01" class="w3-modal w3-margin-top">
        <div class="w3-modal-content w3-card-4">
            <span onclick="document.getElementById('id01').style.display='none'" 
            class="close w3-display-topright">&times;</span>
          <div class="w3-container">
                <form class = "w3-margin-top" action="/action_page.php">
                    Username<br>
                    <input type="text" name="username"><br><br>
                    Password<br>
                    <input type="password" password="password"><br><br>
                    <input type="submit" class= "w3-display-bottomleft"name= Login>
                    <span  class="w3-right w3-padding w3-hide-small"> <a style="font-family:calibri;color: #0038a8;" href="#">Forgot password?</a></span>
                </form>
                    <button id = simple_link  href="/PLCert/login">Signup</button>
          </div>
        </div>
      </div>
    </div>



<a class="button1 button2" href="/PLCert/courselist">Public Legal Informaion Module</a>



<!-- <a class="button1 button1" href="/PLCert/emodule">Facilitator Learning Module</a>-->

{% endblock %}
