{% extends 'PLCert/layout.html' %}
{% load staticfiles %}

{% block content %}
<h1 class="center-align">Legal Information Courses</h1>

<div class ="accordion_container">
        <ul class="accordion">
        {% for courses in courses %}
        <li class="tabs"><a href="/PLCert/courses/{{courses.id}}">{{courses.title}}</a></li>
        {% endfor %}
        </ul>
</div>

<div class = "courses_container">
        <p class="courses">
            The PLC Module is for individuals teaching Preventative Law and for individuals
        who would like to learn  Preventative Law for themselves.
        This PLC Module was created by Chlece Neal the Executive Director and Senior Staff
        Attorney at Chicago Advocate Legal, NFP. 
        If you are taking this course to get certified to teach in Chicago Advocate
        Legal NFP's Preventative Law Clinic please select PLC Presenter Module. 
        If you are taking this course for your self. Please select PLE (Preventative 
        Law Education)
        </p>
</div>

{% endblock %}