{% extends 'PLCert/layout.html' %}
{% load staticfiles %}

{% block content %}

<h1 style="font-family:calibri;"><strong>Choose a Legal Information course to get started</strong></h1><br>

<p style="font-family:calibri;">By participating in the Preventative Law Initiative you accept that the information provided is legal information and not legal advice.</p>

<div class ="courses_container">
        <ul style="list-style-type:none" class="course">
        {% for courses in courses %}
        <li class="tabs"><a class="button1 button1"href="/PLCert/courses/{{courses.id}}">{{courses.title}}</a></li>
        {% endfor %}
        </ul>
</div>
{% endblock %}

