{% extends 'PLCert/layout.html' %}
{% load staticfiles %}

{% block content %}


<h1 class="center-align">Legal Information E-Learning Modules</h1><br>


<div class = "courses2_container">
        <p class="courses">
            The PLC Module is for individuals teaching with the Preventative Law Initiative and for individuals
        who would like to learn Preventative Law for themselves.
        This PLC Module was created by Chlece Neal the Executive Director and Senior Staff
        Attorney at Chicago Advocate Legal, NFP. If you are taking this course to get certified to teach in Chicago Advocate
        Legal NFP's Preventative Law Clinic please select Facilitator Learning Module. 
        If you are taking this course for your self. Please select Public Legal Information Module
        </p>

</div>
<a class="button1 button1" onclick="document.getElementById('id01').style.display='block'">Facilitator Learning Module</a>

      <div id="id01" class="w3-modal w3-margin-top">
        <div class="w3-modal-content w3-card-4">
            <span onclick="document.getElementById('id01').style.display='none'" 
            class="close w3-display-topright">&times;</span>
          <div class="w3-container">
                <form class = "w3-margin-top" action="/action_page.php">
                    Username<br>
                    <input type="text" name="username"><br><br>
                    Password<br>
                    <input type="password" password="password"><br><br>
                    <input type="submit" class= "w3-display-bottomleft"name= Login>
                    <span  class="w3-right w3-padding w3-hide-small"> <a style="font-family:calibri;color: #0038a8;" href="#">Forgot password?</a></span>
                </form>
                    <button id = simple_link  href="/PLCert/login">Signup</button>
          </div>
        </div>
      </div>
    </div>


<button onclick="document.getElementById('id02').style.display='block'"class="button1 button2">Public Legal Informaion Module</button>



    <div id="id02" class="w3-modal">
            <div class="w3-modal-content">
              <div class="w3-container">
                <span onclick="document.getElementById('id02').style.display='none'" class="w3-button w3-display-topright">&times;</span>
    <h1 style="font-family:calibri;"><strong> Please fill out basic information</strong></h1>
    <p>Remember to take classes you must:be 18 years of age or older or have permission from a parent or guardian. <br>
    <form   action="/action_page.php">
            Birthdate:<br><input type="date" name="bdate"><br><br>
            E-mail:<input type="email" name="contact_email"><br><br>
            Zipcode:<input type=number name= "zipcode"><br><br>
            Gender:
            <select name="gender">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="nonbinary">Nonbinary</option>
                    <option value="nonbinary">Transgender</option>
                    <option value="other">Other</option>
            </select><br><br>
            <input type="submit" class="w3-btn  w3-ripple">
    </form>
    <a href="/PLCert/courselist">continue to Preventative Law courses</a>
</div>
</div>
</div>
</div>
      

<!-- <a class="button1 button1" href="/PLCert/emodule">Facilitator Learning Module</a>-->

{% endblock %}
