{% extends 'PLCert/layout.html' %}
{% load staticfiles %}

{% block content %}

<h1 style="font-family:calibri;"><strong> Register to Host A Clinic</strong></h1>

<div class="container">
<p>Chicago Advocate Legal (CAL) is looking to partner with organizations who provide support/services to low and middle income 
    communities and individuals who are most likely to be self represented in court. CAL will offer an educational 
    workshop for your organization and community  members. Attorneys from CAL and volunteers/interns will facilitate the workshop 
    in a location of the host sites choosing. Attorneys will usually be there to answer more specific questions related to legal issues 
    while volunteers/interns will provide indepth legal education to your staff and community members on civil court process and 
    procedures for housing and family law issues. </p>
<h5 style="color:#0038a8;font-family:calibri;"><strong> How It Works</strong></h5>
<p> Please fill out the form below if you would like to host a clinic. Remember to be a host site your organization must: <br> 
    1. be able to provide free space;<br>  
    2. must have a minimum of 10 participants;<br> 
    3. it is recommended that the organization advertise the event for a minimum of one month.
    Contact Us @ <a href="mailto:cneal@chicagoadvocatelegal.com?Subject=Hello%20again" target="_top">Chicago Advocate Legal, NFP</a> or  312-561-5510
 </p>
    <form action="/action_page.php">
            Contact person:<br>
            <input type="text" name="contact_name"><br>
            Pick a date for the clinic:<br>
            <input type="date" name="clinic_date"><br>
            E-mail:
            <input type="email" name="contact_email">
            Telephone:
            <input type="tel" name="contact_tel">
            Add your website:
            <input type="url" name="homepage">
            <input type="submit"> 
    </form>       
</div>
        
{% endblock %}