{% extends 'PLCert/layout.html' %}
{% load staticfiles %}
{% block content %}


<h1 style="font-family:calibri;"><strong> The Preventative Law Initiative</strong></h1><br>

<div class="about_container">

        <button style="color:#0038a8;font-family:calibri;" onclick="myFunction('Demo1')" class="w3-btn w3-block w3-padding-16 w3-round-large  w3-large w3-amber w3-left-align">The Preventative Law Initiative</button><br>
        <div id="Demo1" class="w3-container w3-hide">
        <p style="font-family:calibri;">The Preventative Law Initiative is a project focusing on reducing the finacial and emtional 
        cost of civil ligitgation on self represented litigants by prodividng legal information education. 
        Chicago Advocate Legal, NFP (CAL),provides legal education workshops to the community on various housing and family law topics.</p> 
        </div>

        <button style="color:#0038a8;font-family:calibri;" onclick="myFunction2('Demo2')" class="w3-btn w3-block w3-padding-16 w3-round-large w3-large w3-cyan w3-left-align">Preventative Law E-Learning Module and Research Study</button><br>
        <div id="Demo2" class="w3-container w3-hide">
        <p style="font-family:calibri;">The Preventative E-Learning Module is designed to improve non-lawyers understanding of the civil legal process.</p>
        </div>

        <button style="color:#0038a8;font-family:calibri;" onclick="myFunction3('Demo3')" class="w3-btn w3-block w3-padding-16 w3-round-large w3-large w3-light-blue w3-left-align"<a href=http://www.chicagoadvocatelegal.com/>Chicago Advocate Legal, NFP</a></button><br>
        <div id="Demo3" class="w3-container w3-hide">
        <p style="font-family:calibri;">Chicago Advocate Legal, NFP is a non-profit law firm Chicago Advocate Legal, NFP is dedicated to  providing  affordable,
        convenient, and comprehensive legal services. Chicago Advocate Legal, NFP is putting access to justice back in your hands.</p>
        </div>
        
        </div>
        <script>
        function myFunction(id) {
            var x = document.getElementById(id);
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else { 
                x.className = x.className.replace(" w3-show", "");
            }
        }
        </script>

        <script>
                function myFunction2(id) {
                    var x = document.getElementById(id);
                    if (x.className.indexOf("w3-show") == -1) {
                        x.className += " w3-show";
                    } else { 
                        x.className = x.className.replace(" w3-show", "");
                    }
                }
        </script>

        <script>
                function myFunction3(id) {
                    var x = document.getElementById(id);
                    if (x.className.indexOf("w3-show") == -1) {
                        x.className += " w3-show";
                    } else { 
                        x.className = x.className.replace(" w3-show", "");
                    }
                }
        </script>
       
</div>
        

{% endblock %}
