{% extends 'PLCert/layout.html' %}
{% load staticfiles %}
{% block content %}


<h1 style="font-family:calibri;"><strong> The Preventative Law Initiative</strong></h1><br>

<div class="about_container">

        <h3 style="font-family:calibri;"><strong>Our Mission</strong></h3><br>
        <p style="text-align:left;font-family:calibri;">Increase access to legal services for everyone, everywhere through increased access to legal informaion <br>
        Through teaching and learning in person and online.</p><br>

        <button style="color:#0038a8;font-family:calibri;" onclick="myFunction('Demo1')" class="w3-btn w3-block w3-padding-16 w3-round-large  w3-large w3-amber w3-left-align">The Preventative Law Initiative</button><br>
        <div id="Demo1" class="w3-container w3-hide">
        <p style="font-family:calibri;">The Preventative Law Initiative is a project focusing on reducing the finacial and emtional cost of civil ligitgation on self represented litigants by prodividng legal information education. 
        Civil legal procedure and court processes are inherently strict, highly technical and limited, but indivudlas and families are dealing with overwhelming and sometimes traumatic situations. This often results in a 
        in a gap between processes, experince and knowledge that leads to confusion and poor in-court outcomes. Chicago Advocate Legal, NFP believes preventative and supplemental legal services are the key to bridging this gap;
        and improving court outcomes for inviduals and families who have to go through civil litigation and prevent legal issues arising for others.
    
    </p> 
        </div>

        <button style="color:#0038a8;font-family:calibri;" onclick="myFunction2('Demo2')" class="w3-btn w3-block w3-padding-16 w3-round-large w3-large w3-cyan w3-left-align">Preventative Law E-Learning Module and Research Study</button><br>
        <div id="Demo2" class="w3-container w3-hide">
        <p style="font-family:calibri;">The Preventative E-Learning Module is designed to improve non-lawyers understanding of the civil legal process using e-learning and class rooom style learning. Through surveys and data
            collected while individals are taking the e-learning course we hope to discover how to help indivudlas help themseleves in court, how to get legal information to individuals earlier on in their case, and what perceptions individuals
            have about court, lawyers, and laws that help or hender their cases.</p>
        </div>

        <button style="color:#0038a8;font-family:calibri;" onclick="myFunction3('Demo3')" class="w3-btn w3-block w3-padding-16 w3-round-large w3-large w3-light-blue w3-left-align"<a href=http://www.chicagoadvocatelegal.com/>Chicago Advocate Legal, NFP</a></button><br>
        <div id="Demo3" class="w3-container w3-hide">
        <p style="font-family:calibri;">Chicago Advocate Legal, NFP, is a non-profit law firm that seeks to decrease the access to justice gap by providing income based, flat-fee legal services to individuals, families and communities who are not eligible 
            for legal aid and cannot afford more traditional legal fees. Most legal aid agencies serve individuals and families that fall between 0-150% of the federal poverty line. 
            Legal aid’s are also restricted by funding guidelines and limitations on capacity. For individuals falling between 150-400% of the federal poverty line, 
            legal aid is generally not an option which leaves them with  traditional legal services that charge by the hour, and is not an unaffordable option. When free legal resources are not available and traditionally priced 
            attorneys are financially out of reach, low cost legal services are the only option. Chicago Advocate Legal, NFP is one of the handful of nonprofit law firms in Chicago and in the country that provides affordable legal 
            services. We provide legal services in some of the areas of law that cause the most social and economic devastation: family, housing and education law. Many of the people we serve are income eligible for legal aid, 
            but due to legal aids lack of resources or the specific legal issues of the client, they do not meet the requirements.</p>
        </div>
        
        </div>
        <script>
        function myFunction(id) {
            var x = document.getElementById(id);
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else { 
                x.className = x.className.replace(" w3-show", "");
            }
        }
        </script>

        <script>
                function myFunction2(id) {
                    var x = document.getElementById(id);
                    if (x.className.indexOf("w3-show") == -1) {
                        x.className += " w3-show";
                    } else { 
                        x.className = x.className.replace(" w3-show", "");
                    }
                }
        </script>

        <script>
                function myFunction3(id) {
                    var x = document.getElementById(id);
                    if (x.className.indexOf("w3-show") == -1) {
                        x.className += " w3-show";
                    } else { 
                        x.className = x.className.replace(" w3-show", "");
                    }
                }
        </script>
       
</div>
        

{% endblock %}
