{% extends 'PLCert/layout.html' %}
{% load staticfiles %}

{% block content %}

<h1>Preventative Law Videos</h1><br>

<div class="container">
<p> THis information is not intended to be legal advice. If you would like to speak with an attorney please contact us. <br> 
    1. via email cal@chicagoadvocatelegal.com,<br>  
    2. via phone: 312-561-5510 ;<br> 
    3. or stop by our office at 73 W. Monroe St. Suite 319 Chicago, IL 60603 our office ours are M-Thursday 9 a.m. - 4 p.m.</p>

<p>Contact Us:
    <a href="mailto:cneal@chicagoadvocatelegal.com?Subject=Hello%20again" target="_top">Chicago Advocate Legal, NFP</a>
    312-561-5510
</p>
            
</div>
        
{% endblock %}