{% extends 'PLCert/layout.html' %}
{% load staticfiles %}

{% block content %}


<h1 style="font-family:calibri;"><strong>PRIVACY POLICY</strong></h1>


<p>Effective Date: April 2018</p>

<p>Last Updated: April 2018</p>

<p style="font-family:calibri;"><strong> This Privacy Policy applies to the sites where it appears.</strong></p>
<p style="font-family:calibri;">This Policy describes how we treat personal information on the sites where it is posted. This includes our 
websites and mobile sites. This policy does not apply to information we may collect in other forums.


<p style="font-family:calibri;"><strong>We collect information from and about you.</strong></p>
<p style="font-family:calibri;"><strong> Contact information</strong></p>
<p style="font-family:calibri;">This Policy describes how we treat personal information on the sites where it is posted. 
This includes our websites and mobile sites. This policy does not apply to information we may collect in other forums. For example, we might 
collect your name, your company name and street address. We might also collect your phone number, fax number or email address.<br>

<p style="font-family:calibri;"><strong> Account information</strong></p>
<p style="font-family:calibri;">This Policy describes how we treat personal information on the sites where it is posted.</p>
This includes our websites and mobile sites. This policy does not apply to information we may collect in other forums. For example, we may collect your 
username and password if you create an account on our site. We may also collect job information, including the name and address of your employer. 
We may collect your Attorney Registration and Disciplinary Commission number.<br><br>

<p style="font-family:calibri;"><strong>Information you submit or post</strong></p>
<p style="font-family:calibri;">This Policy describes how we treat personal information on the sites where it is posted. 
This includes our websites and mobile sites. This policy does not apply to information we may collect in other forums.
We collect the information you post on or to our website. This may include comments you post about articles on our sites.<br>


<p style="font-family:calibri;"><strong> Demographic information</strong></p>
<p style="font-family:calibri;">This Policy describes how we treat personal information on the sites where it is posted.</p>
This includes our websites and mobile sites. This policy does not apply to information we may collect in other forums.
We may collect information like your zip code, gender, income and age. We may also collect your race and ethnicity. 
We may collect information about your military status and citizenship status. We may collect information about your marital status, family size, 
disability status, child support information, and other information that will help determine if you qualify for free legal help.<br><br>

<p style="font-family:calibri;"><strong> Other information</strong></p>
<p style="font-family:calibri;">This Policy describes how we treat personal information on the sites where it is posted. This includes our 
websites and mobile sites. This policy does not apply to information we may collect in other forums. We may collect information about the 
browser you are using. We might look at what site you came from, or what site you visit when you leave us.<br>

<p style="font-family:calibri;"><strong> We collect information in different ways.</strong></p>
We collect information directly from you.
For example, if you sign up for our emails, post content, or make a donation. We also collect information when you apply for legal help or 
register for an event. We also collect information if you ask us questions or provide feedback. We may collect information when you submit a 
request to receive Minimum Continuing Legal Education (MCLE) credit. We may also collect information if you contribute content to our site.<br><br>

We collect information from you passively.
We use tracking tools like browser cookies and web beacons to collect information from you. Learn more about these tools, 
and how you can control them, here.<br><br>

We may get information about you from third parties.
For example, our business partners may give us your email address or shipping address. Social media platforms may also give us information about you.<br><br>

<p style="font-family:calibri;"><strong> We combine information.</strong></p>
For example, we may combine information that we have collected offline with information we collect online. 
Or we may combine information we get from a third party with information we already have.<br><br>

<p style="font-family:calibri;"><strong> We use information as disclosed and described here.</strong></p>
We use information to respond to your requests or questions. For example, we might use your information to respond to your comments or customer feedback. We may also use your information to process your 
request for MCLE credit. We will also use your information to attempt to match you with a legal aid service provider if you apply for legal help. 
We may also use your information to fulfill your request to register for an event.<br>

We use information to improve our sites and services.
We may use your information to make our website and services better. We might use your information to customize your experience with us. 
For example, we might use your information to store your password if you register for our site.<br>

We use information for security purposes.
We may use information to protect our company, our customers, and our websites.<br>

We use information for marketing purposes.
For example, we might also send you information about legal developments in which we think you may be interested, about us, our sites, 
or other products or services we offer, or to request your help in supporting our organization. To manage this, read the choices section below.<br>

We use information to communicate with you about our relationship.
We may contact you to get your feedback. We might also contact you about this Policy and our site Terms.<br><br>

<p style="font-family:calibri;"><strong> We use information as otherwise permitted by law.</strong></p>

We may share information with third parties.
We may share information within our company (including our affiliated companies).
We will share information with third parties who perform services on our behalf. For example, we share information with vendors who help us 
send emails and operate our sites. This may include website analytics vendors. Some vendors may be located outside of the United States.<br><br>

We may share your information with organizations that perform legal services.
For example, if you apply for legal aid, we will forward your information to one of our legal services partners. Also, if you work for a legal services 
or public interest program and have registered on one of our sites, your name, e-mail address and work phone number may be accessed by other 
registered users who also work for a legal services or public interest program.<br><br>

We will share information with our business partners.
If we provide joint services, we share information with business partners. If you apply for legal aid, we will share your information with one or 
more of our partner organizations participating in the online application process.<br><br>

We will share information if we think we have to in order to comply with the law or to protect ourselves.
For example, we will share information to respond to a court order or subpoena. We may share it if a government agency or investigatory body requests. 
We might share information when we are investigating potential fraud.<br><br>

We may share information with any successor to all or part of our business. For example, if part of our business was sold we may give our customer 
list as part of that transaction.<br><br>

We may share information for other reasons we may describe to you.<br><br>

<p style="font-family:calibri;"><strong> You have certain choices about sharing and marketing practices.</strong></p>
<p style="font-family:calibri;"><strong> You can opt out of receiving our marketing emails.</strong></p>
To stop receiving our promotional emails, follow the instructions in any promotional message you get from us. Don’t worry! Even if you opt out of 
getting marketing messages, we will still send you transactional messages. These include responses to your questions.<br>

<p style="font-family:calibri;"><strong> You can control cookies and tracking tools.</strong></p>
<p>Your browser may give you the ability to control cookies. How you do so depends on the type of cookie. Certain browsers can be set to reject browser 
cookies. To control flash cookies, which we may use on certain websites from time to time, you can go here. Why? Because flash cookies cannot be 
controlled through your browser settings. NOTE: If you block cookies on your browser, certain features on our sites may not work.</p><br>

<p style="font-family:calibri;"><strong> Our Do Not Track Policy:</strong></p>
Some browsers have “do not track” features that allow you to tell a website not to track you. These features are not all uniform. We do not currently 
respond to those signals. If you block cookies, certain features on our sites may not work. If you block or reject cookies, not all of the tracking 
described here will stop.<br>

<p style="font-family:calibri;"><strong> Options you select are browser and device specific.</strong></p><br>

<p style="font-family:calibri;"><strong> You have other controls you can exercise.</strong></p>
You can choose whether or not to share personal information. If you choose not to share, some parts of our sites and some services may be more 
difficult or impossible to use.<br><br>

<p style="font-family:calibri;"><strong> You can control tools on your mobile devices.</strong></p>
For example, you can turn off the GPS locator. Options you select are device specific.<br><br>

<p style="font-family:calibri;"><strong> We use standard security measures.</strong></p>
The Internet is not 100% secure. We cannot promise that your use of our sites will be completely safe. We encourage you to use caution when using the 
Internet. This includes not sharing your passwords.<br><br>

<p style="font-family:calibri;"><strong> We keep personal information as long as it is necessary or relevant for the practices described in this Policy.</strong></p> 
We also keep information as otherwise required by law.<br><br>

<p style="font-family:calibri;"><strong> Our sites and apps are not intended for kids.</strong></p>
Our sites and apps are meant for adults. We do not knowingly collect information online from children under 13. If you are a parent or guardian 
and think we have information about your child, please contact info@illinoislegalaid.org. You can also write to us at the address listed at the end of 
this policy. Please mark your inquiry “COPPA Information Request.”<br><br>

<p style="font-family:calibri;"><strong> Parents, you can learn more about how to protect children's privacy on-line here.</strong></p><br>

<p style="font-family:calibri;"><strong> We may link to other sites or have third party services on our site we don't control.</strong></p>
If you click on a link to a third party site, you will be taken to websites we do not control. This includes social media sites. 
This policy does not apply to the privacy practices of these websites. Read the privacy policy of other websites carefully. 
We are not responsible for these third party practices.<br><br>

<p style="font-family:calibri;"><strong> Our site may also serve third-party content that contains their own cookies or tracking technologies.</strong></p> 
We do not control the use of those technologies.<br><br>

<p style="font-family:calibri;"><strong> We may store information both in and outside of the United States.</strong></p>
If you live outside of the United States, you understand and agree that we may transfer your information to the United States. This site is subject to 
U.S. laws, which may not afford the same level of protection of those in your country.<br><br>

<p style="font-family:calibri;"><strong> Feel free to contact us if you have more questions.</strong></p>
If you have any questions about this Policy, please email us at cal@Chicagoadvocatelegal.com.<br><br>

<p>You can also write to us or call at:</p>

<p>73 W. Monroe St. Suite 319</p>
<p></p>Chicago, Illinois 60603</p>
<p></p>Phone: (312) 561-5510</p>

<p>Please include your email address, name, address and telephone number when you contact us.</p>

<p>This helps us handle your request correctly.</p><br>

<p style="font-family:calibri;"><strong> We may update this policy.</strong></p>
From time to time we may change our privacy practices. We will notify you of any material changes to this policy as required by law. 
We will also post an updated copy on our website. Please check our site periodically for updates.
            

        
{% endblock %}