{% extends 'PLCert/layout.html' %}
{% load staticfiles %}

{% block content %}


<h1 style="font-family:calibri;"><strong> Register To Take Courses</strong></h1>
<p> Please fill out the form below if you would like to Register to take courses. Remember to take classes you must: <br>

<div id="registration" align="justify" style= "width: 500px" class = "w3-panel  w3-card"> 

    <form   action="/action_page.php">
            First name:<br><input type="text" name="Fname"><br><br>
            Last name:<br><input type="text" name="Lname"><br><br>
            Username:<br><input type="text" name="Uname"><br><br>
            Birthdate:<br><input type="date" name="bdate"><br><br>
            Password:<br><input type="password" password="password"><br><br>
            E-mail:<input type="email" name="contact_email"><br><br>
            Gender:
            <select name="gender">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="nonbinary">Nonbinary</option>
                    <option value="other">Other</option>
            </select><br><br>
            <input type="submit" class="w3-btn  w3-ripple"><br> 
    </form>
</div><br> 

            

        
{% endblock %}